{% extends 'base.html.twig' %}

{% block title %}Modification de l'article{% endblock %}

{% block body %}
    <h1>Modification de l'article</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('article_index') }}">Retour à la liste</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
