{% extends 'base.html.twig' %}

{% block title %}Nouvel article{% endblock %}

{% block body %}
    {% if app.user %}
    <h1>Créer un nouvel article</h1>

    {{ include('article/_form.html.twig') }}

    <div class="cntnr">
      <div class="add_more_center">
        <a href="{{ path('article_index') }}" class="back">Retour à la liste</a>
      </div>
    </div>

{% else %}
    <div class="cntnr add_more_center">
    <p>Vous devez être connecté pour écrire un article.
    </p>
    </div>
    {% endif %}
{% endblock %}
